---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}


<!-- {% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<div class="container">

  <p>Detailed descriptions of my research and engineering projects will be added soon.</p>

  <p>This section will highlight selected work in:</p>
  <ul>
    <li>Electrochemical energy systems</li>
    <li>Process modeling</li>
    <li>Control strategies</li>
    <li>Techno-economic analysis</li>
  </ul>

</div>